/* 1728 X 5252 */
 /* BASE */
*{
   box-sizing: border-box;
}

body{
	font-family: 'Work Sans', sans-serif;
  max-width: 1728px;
	margin: 0;
	color: #081323;
  background-color: #FFFF;
  background-image: url(./../img/bg/header-bg.svg) ;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.container {
	max-width: 1520px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

/* HEADER */

.header {
}
.row {
	display: flex;
  align-items: center;
  height: 46px;
  width: 1490px;
  margin-top: 57px;
  margin-bottom: 82px;
}

/* LOGO */

.header__logo a{
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
  align-items: center;
}

.header__logo-image {
  width: 46px;
  height: 46px;
  margin-right: 4px;
}
.header__logo-text {
  font-family: 'Inter', sans-serif;
  text-align: center;
  width: 121px;
  height: 39px;
	margin-right: 310px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.73px;
}

/* NAV */

.nav ul {
  display: flex;
  list-style-type: none;
	margin-right: 440px;
	padding-left: 0;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}

.nav li +li{
  margin-left: 69px;
} 

.nav li :first-child{
  margin-left: 0px;
  
}

.nav a{
  text-decoration: none;
  color: #FFFFFF;
}

.nav li :hover{
  color: #009EFD;
  transition: color 0.2s ease-in;
}

/* BASKET */

.basket {
	display: flex;
	justify-content: end;
}
.header__sabmit{
	width: 39px;
	height: 37px;
	background: transparent;
	background-image: url(./../img/icon/basket.svg);
	background-repeat: no-repeat;
	border: none;
}

.basket-number-block{
	position: absolute;
	background-repeat: 50%;
	padding-top: 3px;
}

.basket__number{
  text-align: center;
  align-items: center;
  width: 21px;
  height: 21px;
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  color: #2D3949;
  border-radius: 50%;
  font-size: 14px;
  line-height: 16.42px;
  font-weight: 700;
}

/* HERO */
.hero{
	height: 1004px;
	padding-bottom: 579px;
	margin-bottom: 102px;
	color: #FFFF;
}
.hero-content {
  text-align: center;
  height: 1128px;
  height: 425px;
  padding-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 82px;
  line-height: 96px;  
}

.hero__subtitle {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;  
}
/* SEARCH */
.hero__search {
	display: flex;
	position: relative;
	align-items: center;
  width: 463px;
  margin-left: auto;
  height: 71px; 
  margin-right: auto;
	padding: 24px 12px 24px 30px;
  color: #FFFF;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid #FFFFFF;
	border-radius: 50px;
}

.search {
  width: 360px;
  height: 71px;
	background: transparent;
	border: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.submit-block{
	position: absolute;
	bottom: 10px;
	left: 400px;
}

.submit {
  width: 50px;
  height: 50px;
  background: transparent;
  background-image: url(./../img/icon/btn-search.svg);
  border: none;
}

input {
  outline:none;
}

/* MAIN */

.main {
	height: 3415px;
}

/* SERVICE */

.service {
	display: flex;
	height: 84px;
	margin-bottom: 142px;
}

.shapping {
	display: flex;
	margin-right: 226px;
}

.service__icon {
	width: 84px;
	height: 84px;
	margin-right: 24px;
}

.servece__title {
	display: flex;
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
}

.service__subtitle {
	display: flex;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #828282;	
}

.payment {
	display: flex;
	margin-right: 226px;
}

.support {
	display: flex;
}




/* .test{
	height: 3000px;
} */