/* 1728 X 5252 */
 /* BASE */
*{
   box-sizing: border-box;
}

body{
	font-family: 'Work Sans', sans-serif;
  max-width: 1728px;
	margin: 0;
	color: #081323;
  background-color: #FFFF;
  background-image: url(./../img/bg/header-bg.svg) ;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
input{
	border: none;
	background:transparent;
}
.container {
	max-width: 1520px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

/* HEADER */

.header {
}
.row {
	display: flex;
  align-items: center;
  height: 46px;
  width: 1490px;
  margin-top: 57px;
  margin-bottom: 82px;
}

/* LOGO */

.header__logo a{
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
  align-items: center;
}

.header__logo-image {
  width: 46px;
  height: 46px;
  margin-right: 4px;
}
.header__logo-text {
  font-family: 'Inter', sans-serif;
  text-align: center;
  width: 121px;
  height: 39px;
	margin-right: 310px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.73px;
}

/* NAV */

.nav ul {
  display: flex;
  list-style-type: none;
	margin-right: 440px;
	padding-left: 0;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}

.nav li +li{
  margin-left: 69px;
} 

.nav li :first-child{
  margin-left: 0px;
  
}

.nav a{
  text-decoration: none;
  color: #FFFFFF;
}

.nav li :hover{
  color: #009EFD;
  transition: color 0.2s ease-in;
}

/* BASKET */

.basket {
	display: flex;
	justify-content: end;
}
.header__sabmit{
	width: 39px;
	height: 37px;
	background: transparent;
	background-image: url(./../img/icon/basket.svg);
	background-repeat: no-repeat;
	border: none;
}

.basket-number-block{
	position: absolute;
	background-repeat: 50%;
	padding-top: 3px;
}

.basket__number{
  text-align: center;
  align-items: center;
  width: 21px;
  height: 21px;
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  color: #2D3949;
  border-radius: 50%;
  font-size: 14px;
  line-height: 16.42px;
  font-weight: 700;
}

/* HERO */
.hero{
	height: 1004px;
	padding-bottom: 579px;
	color: #FFFF;
}
.hero-content {
  text-align: center;
  height: 1128px;
  height: 425px;
  padding-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 82px;
  line-height: 96px;  
}

.hero__subtitle {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;  
}
/* SEARCH */
.hero__search {
	display: flex;
	position: relative;
	align-items: center;
  width: 463px;
  margin-left: auto;
  height: 71px; 
  margin-right: auto;
	padding: 24px 12px 24px 30px;
  color: #FFFF;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid #FFFFFF;
	border-radius: 50px;
}

.search {
  width: 360px;
  height: 71px;
	background: transparent;
	border: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.submit-block{
	position: absolute;
	bottom: 10px;
	left: 400px;
}

.submit {
  width: 50px;
  height: 50px;
  background: transparent;
  background-image: url(./../img/icon/btn-search.svg);
  border: none;
}

input {
  outline:none;
}

/* MAIN */

.main {
	height: 3517px;
	padding-top: 102px;
}

/* SERVICE */

.service {
	display: flex;
	height: 84px;
	margin-bottom: 142px;
}

.shapping {
	display: flex;
	width: 33.3%;
}

.service__icon {
	width: 84px;
	height: 84px;
	margin-right: 24px;
}

.servece__title {
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
}

.service__subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #828282;	
}

.payment {
	width: 33.3%;
	display: flex;
	padding-left: 110px;
}

.support {
	display: flex;
	width: 33.3%;
	padding-left: 180px;
}

/* DEST SELLER */

.best-seller {
	display: flex;
	height: 634px;
}

.bs-text {
	width: 363px;
	height: 150px;
	margin-top: 243px;
	margin-bottom: 16px;
	margin-right: 61px;
}

.bs__title {
	font-weight: 500;
	font-size: 64px;
	line-height: 75px;
	color: #081323;	
}

.bs__button form {
	display: flex;
	align-items: center;
	width: 252px;
	height: 80px;	
	padding: 16px 0px;
	border-radius: 30px;
}

.bs-button__text {
	margin-right: 8px;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #4F4F4F;
}

.bs-button-submit {
	width: 48px;
	height: 48px;
	margin-top: 25px;
	background: url(../img/icon/arrow-1-right.svg);
	background-repeat: no-repeat;
}

.bs-product {
	display: flex;
	width: 1051px;
	height: 634px;
	padding: 0;
}

.bs-card {
	position: relative;
	width: 329px;
	height: 510px;
	margin-top: 123px;
	border-radius: 50px;
 	background:  rgba(153, 139, 203, 0.25);
	box-shadow: 0px 4px 30px;
}

.bs-card-info {
	position: absolute;
	width: 329px;
	height: 260px;
	padding: 26px 38px;
	right: 0;
	bottom: 0;
	border-radius: 50px;
	background: #fff;
}

.bs-product__title {
	width: 139px;
	height: 38px;	
	margin-bottom: 7px;
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
	color: #081323;
}

.bs-product__stars {
	display: flex;
	width: 120px;
	height: 24px;
	margin-bottom: 75px;
}

.star{
	height: 24px;
	width: 24px;
	margin: 0;
}

.bs-card-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 253px;
	height: 64px;
	padding: 0;
}

.bs-product__prise {
	width: 107px;
	height: 38px;
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
	color: #081323;
}

.bs-product__submit {
	width: 64px;
	height: 64px;
	background-image: url(/img/icon/akar-icons_circle-plus-fill.svg);
	background-repeat: no-repeat;
}

.bs-card-image-1 {
	position: absolute;
	width: 325px;
	height: 333px;
	bottom: 300px;	
}

.bs-img {
	width: 306px;
	height: 320px;
	margin: 157px;
	margin-right: 32px;
	margin-left: 32px;
}

.bs-card-image-2 {
	position: absolute;
	width: 306px;
	height: 320px;
	bottom: 300px;	
}



/* .test{
	height: 3000px;
} */